<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/{{style}}">
    <script></script>
</head>
<body>
    <div id="wrapper">
        {{{body}}}
    </div>
    <div id="resposta">
        {{#each resp}}
            <p>{{teoria}}</p>
            <p>{{retorno}}</p>
        {{/each}}
    </div>
    <div id="reiniciaChutes">
        <form action="/reiniciarChutes" method="POST" id="initForm">
        <button type="submit" style="border-radius: 5px;">Reiniciar chutes</button>
    </div>
</form>
</body>
</html>